# Object files
*.o
*.ko
*.obj
*.elf
.idea/*
build/*

# dot
abpoa.dot
abpoa.dot.pdf


# readme
README.html

# Precompiled Headers
*.gch
*.pch

# Libraries
lib/*
*.lib
*.a
*.la
*.lo


# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
bin/*
example
sub_example
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Visual Studio Files
.vs/*
.vscode/*
x64/*
*.aps